Source: taiga
Section: devel
Priority: optional
Maintainer: matachi <matachi@unknown>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/matachi/taiga-debian-package
Vcs-Git: git://github.com:matachi/taiga-debian-package.git
Vcs-Browser: https://github.com/matachi/taiga-debian-package

Package: taiga
Architecture: any
Depends: ${misc:Depends},
	git,
	nginx-full,
	postgresql-9.3, postgresql-contrib-9.3, postgresql-doc-9.3,
	python3, python3-pip, python-dev, python3-dev, python-pip,
	python-virtualenv, libxml2-dev, libxslt1-dev,
	postgresql-server-dev-9.3
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
